body{
  background-color: #9cd5ec;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(6,75,164,1) 62%, rgba(0,212,255,1) 100%);  */
}
path{
  /* fill:#00394f; */
}


path:hover{
  fill:#e2e5e6;
  transition: 0.6s;
  cursor: pointer;
}

.svgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

